# Lingkungan & Dependensi
node_modules/
venv/
env/
__pycache__/
.next/

# Kredensial dan Rahasia (DILARANG KERAS DI-PUSH)
.env
.env.local
.env.development
.env.production
backend/.env
backend-main/.env
backend-ai/.env
frontend/.env.local
*.pem
credentials.json

# Dataset Medis (Privasi & Ukuran Besar)
# Semua citra mammogram asli atau hasil pre-processing tidak boleh di-push
dataset/
data/raw/
data/processed/
*.dcm
*.png
*.jpg
*.jpeg

# File Bobot Model AI (Ukuran Besar)
# Beban model PyTorch harus diunduh secara terpisah atau diletakkan di cloud storage
*.pth
*.pt
*.onnx

# Basis Data Lokal MongoDB
data/db/

# Log dan Sistem Operasi
*.log
.DS_Store
Thumbs.db

# python backend
backend/.venv/
backend/venv/
backend/env/
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd
backend-main/.venv/
backend-main/venv/
backend-main/env/
backend-main/__pycache__/
backend-main/**/*.pyc
backend-main/**/*.pyo
backend-main/**/*.pyd
backend-ai/.venv/
backend-ai/venv/
backend-ai/env/
backend-ai/__pycache__/
backend-ai/**/*.pyc
backend-ai/**/*.pyo
backend-ai/**/*.pyd

# file ai dan storage lokal
backend/storage/
backend/model_cache/
backend-main/storage/
backend-main/model_cache/
backend-ai/storage/
backend-ai/model_cache/
dataset/
*.pth
*.pt
