# Konfigurasi Database MongoDB
MONGODB_URL=mongodb://admin_medis:password_lokal_123@localhost:27017
NAMA_DATABASE=mammoguard_db

# Konfigurasi Model AI
JALUR_MODEL=./model_ai/model_terbaik.pth

# Konfigurasi Server
HOST=0.0.0.0
PORT=8000
