fastapi==0.115.0
uvicorn[standard]==0.30.6
motor==3.6.0
pymongo==4.9.2
pydantic==2.9.2
email-validator==2.2.0
pyjwt==2.10.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
python-dotenv==1.0.1
torch==2.5.1
torchvision==0.20.1
Pillow==10.4.0
numpy==2.1.1
pydicom==3.0.1
reportlab==4.2.2
